.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin: 0px;
}

.navbar-default .navbar-nav > li {
    margin-left: 10px
}

.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    font-weight: 400 !important;
    color: #415BA9;
    text-decoration-color: #415BA9;
    padding: 0px;
}

/* COLOURED RIGHT NAVBAR LINKS */
.navbar-default .navbar-nav > li.color-blue > a{
    color: #5EC1EC;
    text-decoration-color: #5EC1EC;
}

.navbar-default .navbar-nav > li.color-yellow > a{
    color: #FBA920;
    text-decoration-color: #FBA920;
}

.navbar-default .navbar-nav > li.color-red > a{
    color: #E43092;
    text-decoration-color: #E43092;
}

.navbar-default .navbar-nav > li.color-pink > a{
    color: #E363A5;
    text-decoration-color: #E363A5;
}

.navbar-default .navbar-nav > li.color-violet > a{
    color: #7668BE;
    text-decoration-color: #7668BE;
}

.navbar-default .navbar-nav > li.color-green > a{
    color: #9CC43B;
    text-decoration-color: #9CC43B;
}

/* END */
.navbar-default .navbar-nav > li > a.menu-color-link {
    color: #E363A5;
}

.navbar-default .navbar-nav > li > a.menu-color-link:hover {
    color: #E363A5;
    text-decoration: underline;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #415BA9;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #415BA9;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #415BA9;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #415BA9;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}


.navbar-nav > li > .dropdown-menu {
    margin-top: -9px;
    border-radius: 0px;
    border: none;
    background-color: #FBFBFB;
}

.navbar-default .navbar-nav > li > a {
    font-weight: bold;

}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > div > li {
    display: inline-block !important;
    text-align: center;
    margin: 0px 0px 2px 0px;
}

.mega-dropdown-menu > div > li > a {
    font-weight: 300;
    line-height: 1.428571429;
    color: #415BA9;
    text-transform: uppercase;
    border: 1px solid;
    padding: 5px 10px;
    width: 200px;
    border-radius: 0px;
}

.mega-dropdown-menu > div > li > a:hover,
.mega-dropdown-menu > div > li > a:focus {
    text-decoration: underline;
    background-color: transparent;
}

/*
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}
*/
