@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=latin-ext");
@import url(custom-dropdown.css);
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url(lightbox.css);
html {
  background-color: #FBFBFB;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #404040;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 28px;
}

h1 span {
  display: block;
}

.slick-list, .slick-slide {
  outline: none !important;
}

section.header {
  padding: 5px 0px 1px 0px;
}

section.header .logo-link {
  display: block;
  padding-top: 15px;
}

section.header .logo-link img {
  display: inline;
  margin-top: -15px;
}

section.header .logo-link span {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  color: #415BA9;
  padding-top: 15px;
  font-weight: 500;
}

section.header .logo-link:hover {
  text-decoration: none;
}

section.header p.logo-city {
  font-size: 16px;
  font-weight: 300;
  color: #415BA9;
  padding-left: 55px;
}

section.header ul {
  text-align: right;
  margin: 0px;
}

section.header ul li {
  display: inline;
}

section.header ul.mini-menu {
  margin-top: 25px;
}

section.header ul.mini-menu li {
  margin-left: 15px;
}

section.header ul.mini-menu li a {
  font-size: 16px;
  font-weight: 300;
  color: #0722B0;
  text-decoration-color: #0024DB;
}

section.header ul.mini-menu li a:hover {
  color: #0722B0;
}

.page-slider {
  margin-top: -10px;
}

.page-slider .carousel .item {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.page-slider .carousel .item .item-content {
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-slider .carousel .active.left, .page-slider .carousel .active.right {
  left: 0;
  opacity: 0;
  z-index: 2;
}

.page-slider .carousel .next, .page-slider .carousel .prev {
  left: 0;
  opacity: 1;
  z-index: 1;
}

.page-slider .carousel .item.active {
  animation: zoom 30s;
  -moz-animation: zoom 30s;
  -webkit-animation: zoom 30s;
  -o-animation: zoom 30s;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

@-moz-keyframes zoom {
  from {
    -moz-transform: scale(1);
  }
  to {
    -moz-transform: scale(1.15);
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.15);
  }
}

@-o-keyframes zoom {
  from {
    -o-transform: scale(1);
  }
  to {
    -o-transform: scale(1.15);
  }
}

section.categories-floating {
  padding: 10px 0px 10px 0px;
}

section.categories-floating .floating-carousel {
  padding: 0px;
}

section.categories-floating .floating-carousel div {
  margin-right: 10px;
}

.slideshow {
  height: 35px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slideshow-container {
  height: 50px;
  width: 5000px;
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: 0;
  animation: moveSlideshow 20s linear infinite;
}

.slideshow-container:hover {
  animation-play-state: paused;
}

.slideshow-container a {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin-left: 10px;
  margin: 0;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-900px);
  }
}

.btn-floating {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-floating:hover {
  color: white;
  filter: brightness(120%);
}

.btn-floating:focus, .btn-floating:visited {
  color: white;
}

section.categories a {
  color: transparent;
}

section.categories a:hover {
  text-decoration: none;
}

section.categories a .category-box {
  background-color: red;
  margin-bottom: 18px;
  padding: 2px;
}

section.categories a .category-box .category-img {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

section.categories a .category-box .category-desc {
  padding: 5px;
  text-transform: uppercase;
  color: white !important;
  font-weight: 400;
  font-size: 16px;
}

section.sponsors {
  background-color: white;
  padding: 10px 0px;
}

section.sponsors h2.small {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  color: #404040;
  font-weight: 400;
  margin: 0px;
}

section.sponsors .sponsors-carousel {
  margin-top: 15px;
  margin-bottom: 10px;
}

section.sponsors .sponsors-carousel div a:focus {
  outline: none;
}

section.sponsors .sponsors-carousel div img {
  max-height: 60px;
  margin-right: 35px;
}

footer {
  background-color: #1EA4E5;
  background-image: url(../img/footer_bg.png);
  padding: 10px 0px 0px 0px;
  color: white;
}

footer h6 {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

footer ul {
  padding: 0px;
}

footer ul li {
  padding: 0px;
  list-style: none;
  margin-bottom: 5px;
}

footer ul.social li {
  display: inline;
  margin-right: 5px;
}

footer p span {
  padding-left: 15px;
}

footer p.footer-copyrights {
  color: white;
  padding-left: 35px;
  margin-top: -50px;
}

section.author {
  background-color: white;
  text-align: center;
  padding: 20px 0px;
}

section.author a {
  color: #8C8C8C;
}

section.author a:hover {
  color: #8C8C8C;
  text-decoration: none;
}

.slideout_content {
  max-width: 100px;
  text-align: center;
}

.ui-slideouttab-handle {
  display: block;
  position: absolute;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.ui-slideouttab-panel {
  padding: 20px;
  border-bottom-left-radius: 5px;
  color: white;
  font-size: 14px;
}

#slideout_coloring {
  background-color: #E43092;
  border-left: 1px solid #E43092;
}

#slideout_coloring .ui-slideouttab-handle {
  background-color: #E43092;
  height: 40px;
}

#slideout_competitions {
  background-color: #00B918;
  border-left: 1px solid #00B918;
  padding: 5px;
}

#slideout_competitions .slideout_content {
  max-width: 200px !important;
  min-width: 50px;
  padding: 25px;
}

#slideout_competitions .slideout_content .btn-default {
  background-color: #00B918;
  border: 2px solid white;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

#slideout_competitions .slideout_content .btn-default:hover {
  background-color: #00a015;
}

#slideout_competitions .ui-slideouttab-handle {
  background-color: #00B918;
  height: 40px;
}

.page-img {
  background-image: url(../img/slider_5.jpg);
  height: 350px;
  background-size: cover;
  background-position: center center;
  margin-top: -10px;
  margin-bottom: 0px;
}

.page-box {
  padding: 15px;
  border: 1px solid #ddd;
  border-top: 4px solid #9CC43B;
  margin-bottom: 15px;
  background-color: white;
}

.page-box h4 {
  text-transform: uppercase;
  color: #9CC43B;
  font-weight: 400;
}

.page-box label {
  color: #5e7623;
}

.page-box div.checkbox-inline {
  margin-left: 0px;
  display: table-cell;
  float: left;
  min-width: 160px;
}

.page-box div.checkbox-inline label {
  font-weight: normal;
}

.page-box input, .page-box textarea {
  border-radius: 0px;
  border-color: #ddd;
  resize: none;
}

.page-box .link {
  color: #9CC43B;
  font-weight: 400;
  text-transform: uppercase;
}

.page-box h5 {
  color: #9CC43B;
  text-transform: uppercase;
  font-size: 15px;
}

.page-box form p {
  text-align: justify;
}

.btn-forms {
  background-color: #9CC43B;
  color: white;
}

.btn-forms:hover {
  background-color: #83a532;
  color: white;
}

.pagination {
  border-top: 1px solid #ddd;
  padding: 15px 0px;
  width: 100%;
}

.pagination ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

.pagination ul li {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px 2px;
  height: 30px;
  padding: 5px 0px;
  min-width: 30px;
  text-align: center;
}

.pagination ul li a {
  font-weight: 400;
}

.other-link {
  list-style-type: disc;
}

.other-link li a {
  color: #0722B0;
}

.other-link li a:hover {
  color: #0722B0;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 9px;
  padding-left: 9px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 480px) {
  .col-sm-5ths {
    width: 100%;
    float: left;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
    padding-right: 3px;
    padding-left: 3px;
  }
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

.category-offer-main-img {
  border-top: 4px solid;
  height: 320px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
}

.category-menu-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.category-offer-box {
  background-color: red;
  margin-bottom: 18px;
  padding: 2px;
}

.category-offer-box .category-offer-img {
  height: 190px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.category-offer-box .category-offer-desc {
  padding: 5px;
  text-transform: uppercase;
  color: white !important;
  font-weight: 500;
  font-size: 15px;
}

.category-offer-link:hover, .category-offer-link:visited, .category-offer-link:focus {
  text-decoration: none;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 25px;
}

#sidebar ul li {
  padding: 5px;
}

#sidebar ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #415BA9;
  margin: 0px;
  font-weight: 400;
  text-transform: uppercase;
}

#sidebar ul li ul {
  padding: 0px 0px 0px 10px;
  margin: 0px;
  margin-left: 10px;
  list-style-type: disc;
}

#sidebar ul li ul li {
  padding: 4px 0px 4px 0px;
}

#sidebar ul li ul li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #415BA9;
}

a.submenu-link[data-toggle="collapse"] {
  position: relative;
}

a.submenu-link[aria-expanded="false"]:before, a[aria-expanded="true"]:before {
  display: inline-block;
  position: relative;
  float: right;
  font-family: 'FontAwesome';
  font-size: 15px;
}

a.submenu-link[aria-expanded="true"]:before {
  content: '\f068';
}

a.submenu-link[aria-expanded="false"]:before {
  content: '\f067';
}

.category-menu-city form .checkbox {
  margin-left: 25px;
}

.category-menu-city form .btn-floating {
  width: 100%;
}

.category-menu-city label {
  font-size: 16px;
  color: #415BA9;
  padding: 0;
}

.category-menu-city .city-link {
  font-size: 15px;
  color: #0722B0;
  text-decoration: none;
  text-transform: uppercase;
}

.offer-modal .carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  margin-top: 55px;
}

.offer-modal .carousel .item img {
  max-width: 90%;
  max-height: 450px !important;
}

.offer-modal .carousel-control.left, .offer-modal .carousel-control.right {
  background: transparent;
}

.offer-modal .controls-background-reset {
  background: none !important;
}

.offer-modal .active-thumbnail {
  opacity: 0.5;
}

.offer-modal .indicators-fix {
  bottom: 70px;
}

.offer-modal .modal-dialog {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.offer-modal .modal-content {
  border-radius: 0px;
  border: none;
  box-shadow: none;
}

.offer-modal .modal-body p {
  color: #404040;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .category-offer-main-img {
    height: 250px;
  }
  .category-offer-box {
    margin-bottom: 12px;
  }
  .category-offer-box .category-offer-img {
    height: 180px;
  }
  .category-offer-box .category-offer-desc {
    font-weight: 400;
    font-size: 13px;
  }
  .offer-modal .carousel-offer-item {
    width: 100%;
    height: 520px;
    margin-top: 25px;
  }
  #sidebar ul {
    margin-top: 15px;
  }
  #sidebar ul li a {
    font-size: 16px;
  }
  #sidebar ul li ul {
    margin-left: 10px;
  }
  #sidebar ul li ul li a {
    font-size: 13px;
  }
  a.submenu-link[aria-expanded="false"]:before, a.submenu-link[aria-expanded="true"]:before {
    font-size: 16px;
  }
  .category-menu-city label {
    font-size: 13px;
  }
  .category-menu-city .city-link {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .category-offer-main-img {
    height: 220px;
    margin-bottom: 15px;
  }
  .category-menu-header, .category-menu-body, .category-menu-city {
    padding-bottom: 15px;
  }
  .category-offer-box {
    margin-bottom: 15px;
  }
  .category-offer-box .category-offer-img {
    height: 100px;
  }
  .category-offer-box .category-offer-desc {
    font-weight: 300;
    font-size: 12px;
  }
  #sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 25px;
  }
  #sidebar ul li {
    padding: 5px;
  }
  #sidebar ul li a {
    font-size: 16px;
  }
  #sidebar ul li ul {
    padding: 0px;
    margin: 0px;
    margin-left: 15px;
  }
  #sidebar ul li ul li a {
    font-size: 15px;
  }
  a.submenu-link[aria-expanded="false"]:before, a.submenu-link[aria-expanded="true"]:before {
    font-size: 20px;
  }
  .category-menu-city label {
    font-size: 14px;
  }
  .category-menu-city .city-link {
    font-size: 16px;
    padding-left: 5px;
  }
  .offer-modal .carousel.slide {
    width: 80%;
    height: 475px;
  }
  .offer-modal .carousel-offer-item {
    height: 475px;
    margin-top: 0px;
  }
  .offer-modal ul.thumbnails-carousel li img {
    max-height: 40px;
  }
}

@media (max-width: 767px) {
  .offer-modal .carousel.slide {
    width: 100%;
    height: 275px;
  }
  .offer-modal .carousel-offer-item {
    height: 275px;
    margin-top: 0px;
  }
}

section.news {
  background-color: #FBA920;
  background-image: url(../img/news_bg.png);
  padding: 10px 0px;
}

section.news a {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

section.news a:hover {
  color: white;
}

section.news h1 {
  color: white;
}

section.news .news-carousel div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  color: white;
}

section.news .news-carousel div .news-content {
  max-width: 968px;
}

section.news .news-carousel div .news-content .btn-default {
  margin-left: auto;
  margin-right: auto;
  background-color: #FBA920;
  border: 1px solid white;
}

section.news .news-carousel div .news-content .btn-default:hover {
  background-color: white;
  color: #FBA920;
}

section.news .news-carousel div .news-content h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

section.news .news-carousel div .news-content p {
  font-weight: 300;
  text-align: center;
  font-size: 16px;
}

section.news .news-carousel div .news-content .news-date {
  border-radius: 5px;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #FBA920;
  font-weight: 700;
}

section.news .news-carousel div .news-content .news-date span {
  display: block;
}

.news-content .news-box {
  margin-bottom: 15px;
  border-radius: 5px;
}

.news-content .news-box .news-img {
  background-size: cover;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 3px solid #FBA920;
}

.news-content .news-box .news-date {
  position: absolute;
  border-radius: 5px;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #FBA920;
  font-weight: 700;
  top: 15px;
  left: 25px;
}

.news-content .news-box .news-date span {
  display: block;
}

.news-content .news-box .news-desc {
  background-color: white;
  padding: 15px;
}

.news-content .news-box .news-desc h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #FBA920;
  font-weight: 700;
  margin: 0;
}

.news-content .news-box .news-desc p {
  text-align: justify;
}

.news-content .news-box .news-desc .btn-default {
  width: 100%;
  background-color: #FBA920;
  color: white;
  border-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
}

.news-content .news-box .news-desc .btn-default:hover {
  background-color: #f39a04;
}

.single-news-content h2.latest {
  margin: 0px;
  color: #FBA920;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
}

.single-news-content .news-box {
  margin-bottom: 15px;
  border-radius: 5px;
}

.single-news-content .news-box .news-img {
  background-size: cover;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid #FBA920;
}

.single-news-content .news-box .news-date {
  position: absolute;
  border-radius: 5px;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #FBA920;
  font-weight: 700;
  top: 15px;
  left: 25px;
}

.single-news-content .news-box .news-date span {
  display: block;
}

.single-news-content .news-box .news-desc {
  background-color: white;
  padding: 15px;
}

.single-news-content .news-box .news-desc h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #FBA920;
  font-weight: 700;
  margin: 0;
}

.single-news-content .news-box .news-desc p {
  text-align: justify;
}

.single-news-content .news-box .news-desc p a {
  color: #FBA920;
  font-weight: 700;
}

.single-news-content .news-box .news-desc .btn-default {
  width: 100%;
  background-color: #FBA920;
  color: white;
  border-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
}

.single-news-content .news-box .news-desc .btn-default:hover {
  background-color: #f39a04;
}

.single-news-content .news-box.latest {
  border-top: 3px solid #9CC43B;
  border-radius: 0px;
}

.single-news-content .news-box.latest .news-desc h2 {
  font-size: 14px;
  color: #9CC43B;
}

.single-news-content .news-box.latest .news-desc p {
  font-size: 12px;
}

.single-news-content .news-box.latest .news-desc .btn-default {
  background-color: white;
  color: #9CC43B;
  border-color: #9CC43B;
}

.single-news-content .news-box.latest .news-desc .btn-default:hover {
  background-color: #fbb339;
  color: white;
}

@media (max-width: 480px) {
  section.news .news-carousel {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
  section.news .news-carousel div {
    margin-bottom: 5px;
  }
  section.news .news-carousel div .news-content {
    max-width: 250px;
  }
  section.news .news-carousel div .news-content h2 {
    font-size: 16px;
  }
  section.news .news-carousel div .news-content p {
    font-size: 12px;
  }
  section.news .news-carousel div .news-content .news-date {
    width: 35px;
    height: 35px;
    font-size: 13px;
    font-weight: 400;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  section.news .news-carousel {
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
  }
  section.news .news-carousel div {
    margin-bottom: 5px;
  }
  section.news .news-carousel div .news-content {
    max-width: 350px;
  }
  section.news .news-carousel div .news-content h2 {
    font-size: 16px;
  }
  section.news .news-carousel div .news-content p {
    font-size: 12px;
  }
  section.news .news-carousel div .news-content .news-date {
    width: 35px;
    height: 35px;
    font-size: 13px;
    font-weight: 400;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  section.news .news-carousel {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  section.news .news-carousel div {
    margin-bottom: 10px;
  }
  section.news .news-carousel div .news-content {
    max-width: 700px;
  }
  section.news .news-carousel div .news-content h2 {
    font-size: 18px;
    font-weight: 400;
  }
  section.news .news-carousel div .news-content p {
    font-size: 13px;
  }
}

section.calendar {
  padding: 25px 0px;
}

section.calendar a {
  text-transform: uppercase;
  color: #404040;
  font-weight: 700;
  font-weight: 400;
}

section.calendar a:hover {
  color: #404040;
}

section.calendar h1 {
  color: #BDD54D;
}

section.calendar h2 {
  color: #BDD54D;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

section.calendar h4 {
  text-align: center;
  text-transform: uppercase;
  color: #BDD54D;
}

section.calendar h4.logo-box-header {
  font-size: 18px;
  color: #1088C7;
  font-weight: 700;
  font-weight: 400;
}

section.calendar .logo-box {
  border: 5px solid #A5BE32;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 15px 25px 15px;
  height: 600px;
  margin-top: 12px !important;
  background-color: white;
}

section.calendar .logo-box .logo-box-slider .slick-list.draggable {
  height: 550px !important;
}

section.calendar .logo-box .logo-box-slider div {
  margin-bottom: 25px;
}

section.calendar .logo-box .logo-box-slider div img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

section.calendar .calendar-list-box {
  background-color: #BDD54D;
  border: 5px solid #A5BE32;
  padding: 10px;
  height: 600px;
  color: white;
  overflow-y: scroll;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section.calendar .calendar-list-box .date {
  border-radius: 5px;
  background-color: white;
  width: 60px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  display: table-cell;
  float: left;
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
  color: #A5BE32;
  padding: 5px;
}

section.calendar .calendar-list-box .date span {
  display: block;
}

section.calendar .calendar-list-box .events {
  display: table-cell;
}

section.calendar .calendar-list-box .events ul {
  padding: 0;
  margin-left: 25px;
  list-style: none;
}

section.calendar .calendar-list-box .events ul li > p > img {
  margin-right: 10px;
}

section.calendar .calendar-list-box .events ul li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
  min-height: 120px;
}

section.calendar .calendar-list-box .events ul li .img-container {
  width: 150px;
  float: left;
  display: inline;
  margin-right: 10px;
  height: 120px;
}

section.calendar .calendar-list-box .events ul li .img-container img {
  max-height: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section.calendar .calendar-list-box .events ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

section.calendar .calendar-list-box .events ul li a:hover {
  color: #A5BE32;
}

section.calendar .calendar-list-box .events ul li p {
  margin: 0px;
  margin-top: 5px;
  text-align: justify;
}

section.calendar ::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

section.calendar ::-webkit-scrollbar-thumb {
  background: #93aa2d;
}

section.calendar ::-webkit-scrollbar-track {
  background: #c9d496;
}

section.calendar body {
  scrollbar-face-color: #93aa2d;
  scrollbar-track-color: #c9d496;
}

section.calendar .calendar-box {
  background-color: #BDD54D;
  border-radius: 15px;
  color: white;
  margin: 25px 0px;
}

section.calendar .calendar-box .calendar-img {
  height: 160px;
  background-color: grey;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.calendar .calendar-box .calendar-img .calendar-date {
  border-radius: 5px;
  background-color: #8C8C8C;
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  margin-left: 25px;
  margin-top: 25px;
}

section.calendar .calendar-box .calendar-img .calendar-date span {
  display: block;
}

section.calendar .calendar-box .calendar-heading {
  background-color: #A5BE32;
  padding: 10px 15px 2px 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

section.calendar .calendar-box .calendar-body {
  padding: 5px 15px;
}

section.calendar .calendar-box .calendar-body h5 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

section.calendar .calendar-box .calendar-body p {
  text-align: justify;
}

section.calendar .calendar-box .calendar-body p img {
  margin-right: 15px;
}

section.calendar .calendar-box .calendar-footer {
  padding: 0px 15px 10px 15px;
}

section.calendar .calendar-box .calendar-footer .btn-default {
  background-color: #A5BE32;
  color: white;
}

@media (max-width: 480px) {
  section.calendar .calendar-box {
    margin: 15px 0px;
  }
  section.calendar .calendar-box .calendar-img {
    height: 100px;
  }
  section.calendar .calendar-box .calendar-img .calendar-date {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 13px;
  }
  section.calendar .calendar-box .calendar-heading {
    padding: 8px 0px 1px 15px;
    font-weight: 400;
    font-size: 13px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  section.calendar {
    padding: 15px 0px;
  }
  section.calendar .calendar-box {
    background-color: #BDD54D;
    border-radius: 15px;
    color: white;
    margin: 25px 0px;
  }
  section.calendar .calendar-box .calendar-body {
    padding: 5px 15px;
  }
  section.calendar .calendar-box .calendar-body .calendar-when {
    display: inline;
    float: left;
    min-width: 30%;
  }
  section.calendar .calendar-box .calendar-body .calendar-desc {
    display: inline;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  section.calendar {
    padding: 15px 0px;
  }
  section.calendar .calendar-box {
    margin: 15px 0px;
  }
  section.calendar .calendar-box .calendar-img {
    height: 160px;
  }
  section.calendar .calendar-box .calendar-img .calendar-date {
    margin-left: 15px;
    margin-top: 15px;
  }
  section.calendar .calendar-box .calendar-heading {
    padding: 10px 15px 1px 10px;
    font-weight: 400;
    font-size: 14px;
  }
  section.calendar .calendar-box .calendar-body {
    padding: 5px 10px;
  }
  section.calendar .calendar-box .calendar-body h5 {
    text-align: left;
    font-weight: 400;
  }
  section.calendar .calendar-box .calendar-body p {
    text-align: justify;
  }
  section.calendar .calendar-box .calendar-body p img {
    margin-right: 15px;
  }
  section.calendar .calendar-box .calendar-footer {
    padding: 0px 15px 10px 15px;
  }
  section.calendar .calendar-box .calendar-footer .btn-default {
    background-color: #A5BE32;
    color: white;
  }
}

section.calendar-content .calendar-box {
  background-color: #BDD54D;
  border-radius: 15px;
  color: white;
  margin-bottom: 25px;
  display: table;
  min-height: 390px;
  border: 4px solid #849824;
}

section.calendar-content .calendar-box .calendar-img {
  width: 40%;
  background-color: grey;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: table-cell;
}

section.calendar-content .calendar-box .calendar-img .calendar-date {
  border-radius: 5px;
  background-color: #8C8C8C;
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  margin-left: 25px;
  margin-top: 25px;
}

section.calendar-content .calendar-box .calendar-img .calendar-date span {
  display: block;
}

section.calendar-content .calendar-box .calendar-heading {
  background-color: #A5BE32;
  padding: 10px 15px 2px 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  border-top-right-radius: 15px;
}

section.calendar-content .calendar-box .calendar-body {
  float: right;
  display: table-cell;
  padding: 5px 15px;
  min-width: 300px;
}

section.calendar-content .calendar-box .calendar-body h5 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}

section.calendar-content .calendar-box .calendar-body p {
  text-align: left;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

section.calendar-content .calendar-box .calendar-body p img {
  margin-right: 15px;
}

section.calendar-content .calendar-box .calendar-desc {
  min-height: 120px;
}

section.calendar-content .calendar-box .calendar-footer {
  padding: 0px 15px 10px 15px;
  bottom: 30px;
  position: absolute;
}

section.calendar-content .calendar-box .calendar-footer .btn-default {
  background-color: #A5BE32;
  color: white;
}

.single-calendar-content .calendar-box {
  padding: 15px;
  border-top: 5px solid #BDD54D;
  background-color: white;
  margin-bottom: 25px;
  min-height: 500px;
}

.single-calendar-content .single-calendar-img-link {
  border: 1px solid #BDD54D;
  float: left;
  margin-right: 25px;
  margin-bottom: 5px;
}

.single-calendar-content .single-calendar-img {
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  float: left;
}

.single-calendar-content .single-calendar-img a {
  display: block;
  position: relative;
  margin: 0px 25px 25px 0px;
}

.single-calendar-content .single-calendar-img a img {
  max-height: 400px;
}

.single-calendar-content .single-event-content p {
  text-align: justify;
}

.single-calendar-content .single-event-content h5 {
  color: #BDD54D;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.single-calendar-content .single-event-content .calendar-heading p {
  color: #A5BE32;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
}

.single-calendar-content .single-event-content .calendar-when img {
  background-color: #BDD54D;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.single-calendar-content .single-event-content .calendar-when p {
  font-size: 14px;
  font-weight: 400;
}

#posterModal .modal-dialog {
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  display: table;
  min-width: 100px;
}

#posterModal .modal-dialog button {
  position: absolute;
  top: 5px;
  right: 5px;
}

#posterModal .modal-dialog button span {
  color: red !important;
}

@media (max-width: 767px) {
  section.calendar-content .calendar-box {
    display: block;
  }
  section.calendar-content .calendar-box .calendar-img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    display: block;
  }
  section.calendar-content .calendar-box .calendar-heading {
    border-top-right-radius: 0px;
  }
  section.calendar-content .calendar-box .calendar-body {
    float: inherit;
    display: block;
  }
}

.user-content .menu {
  padding: 0;
  list-style: none;
}

.user-content .menu li {
  margin: 5px 0px;
}

.user-content .menu li a {
  color: #0722B0;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-content .menu li.active a {
  font-weight: 700;
}

.user-content .menu.partner h5 {
  text-transform: uppercase;
  font-weight: 700;
  margin-left: -10px;
  color: #5e7623;
}

.user-content .menu.partner li {
  margin-left: 10px;
}

.user-content .menu.partner li a {
  font-size: 14px;
  text-transform: none;
}

.user-offer span {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  color: #9CC43B;
}

.user-offer .user-offer-manage ul {
  padding: 0;
}

.user-offer .user-offer-manage ul li {
  display: inline-block;
  margin-right: 15px;
}

.user-offer .user-offer-manage ul li a {
  height: 40px;
}

.user-offer .user-offer-manage ul li.status {
  float: right;
}

.user-offer .user-offer-manage ul li.status button {
  height: 40px;
}

.offer-img {
  border-radius: 15px;
  background-size: cover;
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.user-box .offer-img {
  height: 150px;
}

.user-box .btn-default {
  color: white;
  width: 100%;
  border: none;
}

.single-user-content h2.latest {
  margin: 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
}

.single-user-content .gallery .offer-img {
  border-radius: 5px;
}

.single-user-content .news-box.latest {
  border-top: 3px solid;
  margin-bottom: 15px;
}

.single-user-content .news-box.latest .news-desc {
  padding: 15px;
  background-color: white;
}

.single-user-content .news-box.latest .news-desc h2 {
  font-size: 14px;
}

.single-user-content .news-box.latest .news-desc p {
  font-size: 12px;
}

.single-user-content .news-box.latest .news-desc .btn-default {
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
}

h4.red span {
  color: red;
}

ul.inline-list {
  padding: 0;
}

ul.inline-list li {
  display: inline;
  margin-left: 5px;
}

.plain-page .page-box h1, .plain-page .page-box h2, .plain-page .page-box h3, .plain-page .page-box h4, .plain-page .page-box h5, .plain-page .page-box h6 {
  text-align: left;
  color: #9CC43B;
  text-transform: uppercase;
}

.plain-page .page-box h1 {
  font-size: 26px;
  font-weight: 700;
}

.plain-page .page-box h2 {
  font-size: 24px;
  font-weight: 700;
}

.plain-page .page-box h3 {
  font-size: 22px;
}

.plain-page .page-box h4 {
  font-size: 20px;
  font-weight: 400;
}

.plain-page .page-box h5 {
  font-size: 18px;
}

.plain-page .page-box h6 {
  font-size: 14px;
  text-transform: none;
}

.plain-page .page-box p {
  text-align: justify;
}

.plain-page .page-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.plain-page .page-box a {
  color: #9CC43B;
}

.plain-page .page-box ol, .plain-page .page-box ul {
  margin: 0;
  padding: 0px 15px 0px 15px;
}

.plain-page .page-box ol li, .plain-page .page-box ul li {
  text-align: justify;
}

.tutorial .page-box h4 {
  color: #5e7623;
  font-size: 15px;
}

.tutorial .page-box p {
  text-align: justify;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
  padding: 15px;
}

.panel-body:before, .panel-body:after {
  content: '';
  display: table;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: #7d9d2f;
  text-transform: uppercase;
  font-weight: 700;
}

.panel-group {
  margin-bottom: 20px;
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
}

.panel-group .panel + .panel {
  margin-top: 5px;
}

.panel-group .panel-heading {
  border-bottom: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}

.panel-group .panel-footer {
  border-top: 0;
}

.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}

.panel-default {
  border-color: #9CC43B;
}

.panel-default > .panel-heading {
  color: white;
  background-color: transparent;
  border-color: #5e7623;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #c4dc89;
}

.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

.panel-body p {
  color: #404040;
  margin-bottom: 5px;
  font-weight: 400;
  word-wrap: break-word;
}

.panel-body p span {
  font-weight: 300;
  color: #8C8C8C;
  display: block;
}

.panel-body p a {
  display: block;
  color: #9CC43B;
  font-weight: 700;
}

.link-back {
  font-weight: 700;
}

.competition {
  background-color: #00B918;
  background-image: url(../img/news_bg.png);
  padding: 20px 0px;
  color: white;
}

.competitions-content .box {
  margin-bottom: 15px;
  border-radius: 5px;
}

.competitions-content .box .img {
  background-size: cover;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 3px solid #00B918;
}

.competitions-content .box .desc {
  background-color: white;
  padding: 15px;
}

.competitions-content .box .desc h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #00B918;
  font-weight: 700;
  margin: 0;
}

.competitions-content .box .desc p {
  text-align: justify;
}

.competitions-content .box .desc .btn-default {
  width: 100%;
  background-color: #00B918;
  color: white;
  border-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
}

.competitions-content .box .desc .btn-default:hover {
  background-color: #009513;
}

.navbar-form {
  margin-left: 10px;
  margin-bottom: 10px;
  border: 0px;
}

.navbar-form .form-control {
  border-radius: 5px;
  border-color: #9CC43B;
  max-width: 180px;
  height: 33px;
  margin-top: 1px;
}

.navbar-form .btn-default {
  border-radius: 5px;
  background-color: #9CC43B;
  border-color: #9CC43B;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

.navbar-form .btn-default:hover {
  color: white;
  background-color: #8cb035;
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .col-lg-2-5 {
    width: 20.8333333%;
  }
  .col-lg-10-5 {
    width: 78.5%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  section.categories a:hover {
    text-decoration: none;
  }
  section.categories a .category-box {
    background-color: red;
    margin-bottom: 18px;
    padding: 2px;
  }
  section.categories a .category-box .category-img {
    height: 180px;
  }
  section.categories a .category-box .category-desc {
    font-size: 17px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 21px;
  }
  .page-slider .carousel .item .item-content {
    height: 380px;
  }
  section.categories a .category-box .category-img {
    height: 130px;
  }
  section.categories a .category-box .category-desc {
    padding: 5px;
    font-weight: 400;
    font-size: 13px;
  }
  footer p.footer-copyrights {
    margin-top: -80px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  h1 {
    font-size: 20px;
    font-weight: 400;
  }
  section.header ul {
    text-align: left;
    margin: 0px;
  }
  section.header ul li {
    display: inline;
  }
  section.header ul.mini-menu {
    margin-top: 15px;
    margin-left: 0px;
    padding: 0;
  }
  section.header ul.mini-menu li {
    margin-left: 0px;
    margin-right: 10px;
  }
  .page-slider .carousel .item .item-content {
    height: 280px;
  }
  .btn-floating {
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  section.categories a .category-box {
    margin-bottom: 12px;
    padding: 2px;
  }
  section.categories a .category-box .category-img {
    height: 100px;
  }
  section.categories a .category-box .category-desc {
    height: 50px;
    vertical-align: middle;
    display: table-cell;
    text-transform: inherit;
    font-weight: 300;
    font-size: 13px;
  }
  footer h6 {
    text-align: center !important;
  }
  footer ul {
    padding: 0px;
    text-align: center;
  }
  footer ul li {
    padding: 0px;
    list-style: none;
    margin-bottom: 5px;
  }
  footer ul.social {
    text-align: center;
  }
  footer p:not(.address) {
    text-align: center;
  }
  footer p.footer-copyrights {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 19px;
  }
  .page-slider .carousel .item .item-content {
    height: 200px;
  }
  section.header ul {
    text-align: left;
    margin: 0px;
  }
  section.header ul li {
    display: inline;
  }
  section.header ul.mini-menu {
    margin-top: 15px;
    margin-left: 0px;
    padding: 0;
  }
  section.header ul.mini-menu li {
    margin-left: 0px;
    margin-right: 10px;
  }
  .btn-floating {
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  footer h6 {
    text-align: center !important;
  }
  footer ul {
    padding: 0px;
    text-align: center;
  }
  footer ul li {
    padding: 0px;
    list-style: none;
    margin-bottom: 5px;
  }
  footer ul.social {
    text-align: center;
  }
  footer p:not(.address) {
    text-align: center;
  }
  footer p.footer-copyrights {
    margin-top: 20px;
  }
}
